.Greetings {
    height:80vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../../assets/welcome.jpg) center center/cover ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #333;
    box-shadow: 1px 1px 3px #333;
}

.Greetings h1 {
    padding: 2rem;
    font-size: 2.5rem;
    color: #f4f4f4;
}

.Forms  form {
    display: block;
}
.Forms form label{
    display: block;
    text-align: center;
    color: #ffffff;

}
.Forms form input {
    background-color: #333333bb;
    color: #ffffff;
    width: 200px;
    margin: 0.5rem;
    font-size: 1rem;
}
/* .Forms form input[type='button']{
    color: black;
    background-color: var(--primary-background);
} */
.Forms form select {
    background-color: #333333bb;
    color: #ffffff;
    width: 200px;
    font-size: 1rem;
    margin: 0.5rem;
}
.Button {
    margin: auto;
    padding-left: 8px;
}
.Error {
    box-sizing: border-box;
    background-color: #ffa9a9;
    border: red;
    border-radius: 5px;
    color: #222;
    margin: 0.2rem auto 0rem auto;
    max-width: 300px;
    font-size: 1rem !important;
    padding: 1rem;
}