.Section{
    min-height: 81vh;
    max-width: 100%;
}
.Section .Sidebar {
    display: none;
}
.Section .Main {
    margin: auto auto auto 250px;
}

@media only screen and (max-width:768px){
    .Section{
        min-height: 85vh;
    }
    .Section .Sidebar {
        display: inline;
        position: fixed;
        top:50;
        left: 0;
        cursor: pointer;
    }
    .Section .Main {
        margin-left: auto;
    }
}