.Section {
    max-width: 700px;
    margin: 1rem auto;
    text-align: center;
}
h3{
    text-align: center;
}
.Address{
    display: flex;
}
.Address .AddressCard {
    display: block;
    width: 400px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--primary-background);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.Address p {
    margin: 0.5rem;
    color: blue;
}
@media only screen and (max-width:768px){
    .Address{
        display: flex;
        flex-direction: column;
    }
    .Address .AddressCard {
        display: block;
        max-width: 300px;
        margin: 1rem auto;
        padding: 1rem;
        border: 1px solid var(--primary-background);
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
    }
}