.Dashboard {
    background-color: rgba(255, 255, 255, 0.76);
    width: 90%;
    margin: 0.75rem;
    border-radius: 5px;
}
.Dashboard ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 0.25rem;
}
.Dashboard li{
    list-style: none;
    padding: 1rem;
    border-right: 1px solid #333;
    cursor: pointer;
}
.Dashboard li:last-child{
    list-style: none;
    padding: 1rem;
    border-right: none;
}
.Dashboard li:hover{
    font-weight: bold;
}
.Notify{
    padding: 0.3rem 0.3rem;
    border-radius: 45%;
    background-color: rgb(185, 250, 188);
    font-size: 0.75rem;
}
.Bold {
    font-weight: bolder;
}
@media only screen and (max-width:768px) {
    .Dashboard ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        padding: 0.25rem;
        font-size: 1rem;
    }
    .Dashboard li{
        list-style: none;
        padding: 0.5rem;
        border-right: 1px solid #333;
        cursor: pointer;
    }
    .Dashboard li:last-child{
        list-style: none;
        padding: 0.5rem;
        border-right: none;
    }
}
@media only screen and (max-width:499px) {
    .Dashboard ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.25rem;
        font-size: 1rem;
    }
    .Dashboard li{
        list-style: none;
        padding: 0.75rem;
        border: none;
        cursor: pointer;
    }
}