.Main{
    height: 75vh;
}
.Container {

    text-align: center;
    max-width: 500px;
    padding: 2rem 0rem;
    margin: 2rem auto;
    border: 1px solid rgb(247, 252, 184);
    box-shadow: 2px 2px 5px var(--primary-yellow);
    border-radius: 5px;
}

.Container:hover {
    text-align: center;
    max-width: 500px;
    padding: 2rem 0rem;
    margin: 2rem auto;
    border: 1px solid rgb(238, 255, 0);
    box-shadow: 2px 2px 5px var(--primary-yellow);
    border-radius: 5px;
}

.Container p {
    padding: 1rem 1rem ;
    font-size: 0.8rem;
}

.Link {
    color: #099bf0;
}
.Error {
    box-sizing: border-box;
    background-color: #ffa9a9;
    border: red;
    border-radius: 5px;
    color: #222;
    margin: 0.2rem auto 0rem auto;
    max-width: 300px;
    font-size: 1rem !important;
}