.Section {
    margin: 1rem auto;
    max-width: 800px;
    border: 1px solid rgb(247, 252, 184);
    box-shadow: 2px 2px 5px #ffd931;
    text-align: center;
}

.Section h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.75rem;
}

.Section p{
    padding: 1rem 1rem ;
    font-size: 0.8rem;
}

.Link {
    color: #099bf0;
}
.Form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}

.Form input{
    width: 300px;
    margin: 0.5rem auto; 
}
.Form select{
    margin: 0.5rem;
}
.Form textarea{
    width: 87%;
    grid-column: 1/ span 2;
}
.Error {
    box-sizing: border-box;
    background-color: #ffa9a9;
    border: red;
    border-radius: 5px;
    color: #222;
    margin: 0.2rem auto 0rem auto;
    max-width: 300px;
    font-size: 1rem !important;
}

.Search{
    display: grid;
    grid-template-columns: auto auto;
}

.Search button{
    width: 200px;
}

@media only screen and (max-width:500px){
    .Form {
        display: block;
    }
    .Form textarea{
        width: 71%;
        grid-column: 1/ span 2;
    }
    .Form input{
        margin: 0.75rem 0;
    }
    .Form select{
        margin: 0.75rem 0;
    }
    .Form input{
        width: 300px;
        margin: 0.5rem auto; 
    }
    .Form input:first-child{
        width: 300px;
        margin: 0.5rem auto;  
    }
    .Search{
        display: block;
    }
    
    .Search button{
        width: 200px;
    }
}