.Navbar {
    margin: 0px;
    display: block;
    background-color: var(--primary-yellow);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}

.Navbar p {
    cursor: pointer;
}