.AdminNavItems{
    text-decoration: none;
    color: black;
    max-width: 200px;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
}

.active{
    background-color: #ffed47;
}


@media only screen and (max-width:768px){
    .AdminNavItems{
        text-align: center;
        max-width: 100%;
        padding: 1rem;
    }
}