.AdminNavbar {
    margin: 0px;
    display: block;
    background-color: var(--primary-background);
    display: flex;
    justify-content: space-around;
}

.AdminNavbar p {
    cursor: pointer;
}

.Logout {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.MobileNav {
    display: none;
}
.MobileNavbar{
    display: none;
}
.Logo {
    background-color: var(--primary-background);
    text-align: center;
}

@media only screen and (max-width:768px){
    .Dropmenu{
        position: sticky;
        transition: transform 0.5s ease-in-out;
    }
    .Open{
        transform: translateY(0%);
        z-index: -100;
    }
    .Close {
        transform: translateY(-150%);
        z-index: -100;
    }
    .MobileNavbar {
        padding: 0px;
        background-color: #f1f0f0;
        display: flex;
        flex-direction: column;
        z-index: 100;
    }
    .DesktopNav{
        display: none;
    }
    .MobileNav {
        /* display: block; */
        display: flex;
        justify-content: space-between;
        text-align: center  ;
    }

    .MobileNav{
        background-color: var(--primary-background);
        z-index: 200;
    }

    .MobileNav h1 {
        padding: 0.75rem 0.5rem 0rem 0.5rem;
        font-size: 1.5rem;
    }

    .MobileNav p {
        padding: 0.75rem;
        margin: 0.25rem;
        border: 1px solid #ffea4e;
        border-radius: 5px;
        box-sizing: border-box;
        background-color:#ffbb00;
    }

    .MobileNav p:active{
        box-shadow: 1px 1px 5px #706a4d;
    }

    .Logout {
        text-align: center;
        max-width: 100%;
        padding: 1rem;
    }
    .Logout :active{
       background-color: #ffed47;
    }
}