.Navbar {
    margin: 0px;
    display: block;
    background-color: var(--primary-background);
    display: flex;
    justify-content: space-evenly;
}

.Navbar p {
    cursor: pointer;
}
.Logout {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.Logout:hover {
    text-decoration: none;
    color: black;
    padding: 1rem;
    background-color: rgb(255, 235, 205);
}