.Bookcard{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 600px;
    margin: 1rem auto;
    background-color: #ffffffb9;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.Bookcover{
    margin: auto;
}

.Bookcard .Bookcover img{
    border: 1px solid var(--primary-background);
    padding: 0.75rem;
    background-color: #fff;
    margin: auto;
}
.Bookcard .Bookdetails{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.Bookcard .Bookdetails h3{
    text-align: left;
    color: #1f1f1f;
}
.Bookcard .Bookdetails p {
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
    color: #1f1f1f;
}
.Bold {
    font-weight: bold;
}
@media only screen and (max-width:768px){
    .Bookcard{
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 400px;
        margin: 1rem auto;
        background-color: #ffffffb9;
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
    }
    .Bookcard .Bookdetails p {
        font-size: 0.8rem;
        line-height: 2rem;
    }
}