.Footer {
    display: block;
    background-color: var(--footer-background);;
    text-align: center;
    padding: 0.75rem;
}

.Footer p {
    margin: 1rem 3rem;
    font-size: 0.75rem;
    color: #000;
}
.Footer a {
    font-size: 1rem;
    color: navy;
    font-weight: bold;
}

@media only screen and (max-width:768px){
    .Footer p {
        margin: 0.5rem 2rem;
        font-size: 0.75rem;
        color: #000;
    }
}