.Section {
    max-width: 900px;
    margin: 2rem auto;
    /* height: 71vh; */
    height: fit-content;
    text-align-last: center;
}
.Container {
    background-color: rgba(255, 255, 255, 0.705);
    border: 1px solid var(--primary-background);
    border-radius: 5px;
    padding: 1rem;
    height: fit-content;
    margin-bottom: 0.75rem;
}
.Container:hover{
    box-shadow: 1px 1px 5px var(--primary-background);
}
.Container h3{
    color: #4d4b4b;
    text-align: center;
    margin: 1rem auto;
}
.Items {
    overflow: auto;
}
.Items .Table {
    margin: 1rem auto;
    text-align: center;
    width: 600px;
    border: 1px solid var(--primary-background);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.808);
}
.Table td{
    padding: 0.5rem;
}
.Table2 {
    margin: 1rem;
    width: 600px;
    border-radius: 5px;
    margin: auto;
    border: 1px solid var(--primary-background);
    background-color: rgba(255, 255, 255, 0.808);
}
.Table2 tr td {
    padding: 0.75rem 1.2rem;
}
.Address {
    text-align: center;
    margin: auto;
    max-width: 500px;
    font-family: 'Times New Roman', Times, serif;
}
.Section button{
    cursor: pointer;
}
.Bookcard{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 600px;
    margin: 1rem auto;
    background-color: #eceaeab9;
    border-radius: 5px;
    padding: 0.75rem 1rem;
}

.Bookcover{
    margin: auto;
}

.Bookcard .Bookcover img{
    border: 1px solid var(--primary-background);
    padding: 0.75rem;
    background-color: #fff;
    margin: auto;
}
.Bookcard .Bookdetails{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.Bookcard .Bookdetails h3{
    text-align: left;
    color: #1f1f1f;
}
.Bookcard .Bookdetails p {
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
    color: #1f1f1f;
}
.Bold {
    font-weight: bold;
}
.Bookcard .Bookdetails a {
    display: block;
    width: 200px;
    margin: 0rem 0rem 0.2rem 0rem;
    padding: 0.5rem 0.5rem;
    background-color: #e6c300e1;
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    text-align: center;
}
@media only screen and (max-width:768px){
    .Section {
        /* height: 80vh; */
    }
    .Bookcard{
        display: flex;
        /* grid-template-columns: 1fr 2fr; */
        flex-direction: column;
        max-width: 400px;
        margin: 1rem auto;
        background-color: #ffffffb9;
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        cursor: pointer;    
        border: 1px solid #1f1f1f;
    }
    .Bookcard .Bookdetails p {
        font-size: 0.8rem;
        line-height: 1rem;
        text-align: center;
    }
    .Bookcard .Bookdetails h3{
        text-align: center;
        margin:0.75rem;
        color: #1f1f1f;
    }
    .Bookcard .Bookdetails a {
        margin:auto;
        width: 80%;
    }
    .Table2 {
        margin: 1rem;
        width: 300px;
        border-radius: 5px;
        margin: auto;
        border: 1px solid var(--primary-background);
        background-color: rgba(255, 255, 255, 0.808);
    }
    .Table2 tr td {
        padding: 0.75rem 1.2rem;
    }
}