.UserNavItems{
    text-decoration: none;
    color: black;
    max-width: 200px;
    padding: 1rem 3rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
}

.active{
    background-color: var(--secondary-background);
}


@media only screen and (max-width:768px){
    .UserNavItems{
        text-decoration: none;
        color: black;
        max-width: 200px;
        padding: 1rem;
    }
}